.collection-preview {
    display: flex;
    flex-direction: column;
    padding: 2vw 5vw;

    .title-container {
        margin: 0 6vw;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .products-quantity {
            width: 100%;
            font-size: clamp(0.5rem, 5vw, 1rem);
            text-align: start;
            color: gray;
            margin-bottom: 1rem;
        }

        .title {
            width: 100%;
            font-size: clamp(1rem, 5vw, 1.5rem);
            text-align: start;
        }
    }

    .preview {
        margin: 0 6vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media (max-width: 1000px) {
            margin: 0;
            grid-template-columns: 1fr 1fr;
        }
    }

    .load-more-button {
        align-self: center;
        width: auto;
        color: gray;
        background-color: rgba($color: white, $alpha: 0);
        border: 1px solid gray;

        &:hover {
            color: black;
            background-color: rgba($color: white, $alpha: 0);
            border: 1px solid black;
        }
    }

    @media (max-width: 1000px) {

        .title-container {
            margin: 0;
        }

        .preview {
            margin: 0;
            grid-template-columns: 1fr 1fr;
        }
    }
}