.collection-page {
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw;
    animation: fade 200ms ease-out;
    margin: 0 6vw;
  
    .title {
        font-size: clamp(1rem, 5vw, 2rem);
        margin: 0 auto 30px;
    }
  
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
}