.collection-item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: hidden;
    margin: 0 15px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 5rem;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .image {
        display: flex;
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        overflow: hidden;
        box-sizing: border-box;

        &:hover {
            button {
                height: 20%;
                opacity: 0.85;
            }
        }

        button {
            align-self: flex-end;
            opacity: 0;
            width: 100%;
            transition: .5s;
        }
    }

    .collection-footer {
        padding: 0 1rem;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    
        .name {
            align-self: center;
        }
    
        .price {
            align-self: center;
        }
    }

    @media (max-width: 800px) {
        min-width: 80%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        .image {

            button {
                height: 20%;
                opacity: 0.85;
            }
        }
    }
}