.collection-item {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-bottom: 3vw;
    overflow: hidden;
    margin: 0 15px;

    .image {
        display: flex;
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        overflow: hidden;
        border-radius: 10px;
        box-sizing: border-box;

        &:hover {
            button {
                height: 25%;
                opacity: 0.85;
            }
        }

        button {
            align-self: flex-end;
            opacity: 0;
            width: 100%;
            transition: .5s;
        }
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    
        .name {
            align-self: flex-start;
        }
    
        .price {
            align-self: flex-end;
        }
    }
}