.collection-item {
    display: flex;
    flex-direction: column;
    height: 550px;
    padding-bottom: 3vw;
    overflow: hidden;
    margin: 0 15px;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        overflow: hidden;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    
        .name {
            align-self: flex-start;
        }
    
        .price {
            align-self: flex-end;
        }
    }
}