.admin-dashboard {
    height: 100%;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.2);
    }

    .log-out-button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .log-out-button {
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                color: #fff;
                margin-left: 1rem;
            }
        }
    }
    
    .site-layout-sub-header-background {
    background: #fff;
    }
      
    .site-layout-background {
    background: #fff;
    }
}