.cart-dropdown {
    position: absolute;
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    top: 70px;
    right: 0px;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .cart-items {
        display: flex;
        flex-direction: column;
        height: 250px;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
}

