.email-subscribe-contaier {
    padding: 5rem calc((100vw - 1300px) / 2);
    background: linear-gradient(180deg, 
    rgba(0, 0, 0, 0.5) 0%, 
    rgba(0, 0, 0, 0.5) 35%, 
    rgba(0, 0, 0, 0.1) 100% 
    ),
    url("https://images.unsplash.com/photo-1556741533-411cf82e4e2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    no-repeat center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;

    .email-subscribe-content {
        text-align: center;

        h1 {
            text-align: center;
            margin-bottom: 1rem;
            font-size: clamp(1rem, 5vw, 3rem);
            padding: 0 1rem;
        }

        p {
            text-align: center;
            margin-bottom: 2rem;
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            padding: 0 1rem;
        }

        form {
            z-index: 2;
            padding: 0 3rem;
        }
        
        input {
            border-radius: 5px;
        }
    }
}