.slide-dots {
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    padding: 10px;
        
    .slide-dot-active {
        cursor: pointer;
        transition: 1s ease-out;
    }

    .slide-dot {
        cursor: pointer;
        transition: 1s ease-out;
    }
}