.shop-page {
    padding: 70px 0;
    animation: fade 200ms ease-out;

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        }
}