.cart-icon-container {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .item-count {
        position: absolute;
        font-size: 12px;
        font-weight: bolder;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        color: white;
    }

    .shadow-item-count {
        color: #1c1d1f;
    }
}