.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;

    .item-count {
        position: absolute;
        font-size: 12px;
        font-weight: bolder;
        bottom: 12px;
        color: white;
    }

    .shadow-item-count {
        color: black;
    }
}