.sign-up {
    width: 500px;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;

    .title {
        margin: 10px 0;
    }

    @media (max-width: 700px) {
        width: 90%;
    }

    @media (max-width: 400px) {
        width: 80%;
    }
}