.directory-menu {
    padding: 5vw 5vw 15px 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

    @media (max-width: 600px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}