.header {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: black;
    z-index: 1;
  
    .logo-container {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      text-decoration: none;
      color: white;
      font-size: 25px;
    }
  
    .options {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 15px;
  
      .option {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        font-size: large;

        &:hover {
          cursor: pointer;
        }
      }
    }
}

@media (max-width: 700px) {
  .header {
    justify-content: flex-end;
    .logo-container {
      display: none;
    }
  }
}
  