.header {
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    z-index: 20;
    user-select: none;
    transition: 0.3s;

    .logo-container {
        align-self: center;
        padding: 10px 15px;
        font-size: clamp(0.8rem, 5vw, 1.8rem);
        font-weight: bold;
        color: #1c1d1f;
    }

    .options {
        display: flex;
        align-items: center;

        .option {
            white-space: nowrap;
            margin: 0 10px;
            padding: 5px;
            text-decoration: none;
            color: #1c1d1f;
            font-size: clamp(0.8rem, 2.5vw, 1rem);
            cursor: pointer;
            border-radius: 3px;
            
            &:hover {
                color: #67696a;
                background-color: #f7f7f8;
            }
        }
    }

    .header-bars-icon {
        display: none;
        margin: 10px 15px;
        font-size: clamp(1rem, 5vw, 2rem);
        cursor: pointer;
        align-self: center;
    }

    @media (max-width: 800px) {

        .options {
            display: none;
            height: 0;

            .option {
                width: 100%;
            }
        }

        .header-bars-icon {
            display: block;
        }
    }
}

.shadow-header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.extend-header {
    height: auto;
    flex-wrap: wrap;
    z-index: 20;

    .logo-container {
        padding: 25px 15px;
    }

    .options {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

.extend-header-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 19;
}