.header {
    height: 90px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: black;
    z-index: 1;
  
    .logo-container {
      height: 100%;
      width: 70px;
      margin: 25px;
    }
  
    .options {
      width: 50%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 25px;
      // padding: 25px;
  
      .option {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        font-size: larger;

        &:hover {
          cursor: pointer;
        }
      }
    }
}
  