.checkout-item {
    width: 100%;
    display: grid;
    height: auto;
    border-radius: 5px;
    font-size: clamp(0.5rem, 2.5vw, 1rem);;
    align-items: center;
    grid-template-columns: 24% 24% 24% 24% 4%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .5s;
    margin: 1rem 0;

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: whitesmoke;
    }
  
    .checkout-item-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        user-select: none;

        img {
            width: 100%;
            height: 100%;
        }

        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            cursor: pointer;
        }

        .value {
            font-size: large;
        }
    }

    .checkout-item-remove-button {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        font-size: large;
    }

    @media (max-width: 800px) {

        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: whitesmoke;

    }
}
  