.menu-item {
    display: flex;
    min-width: 30%;
    height: 300px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;   

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.05);
            transition: transform 0.5s;
            transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
            opacity: 0.5;
        }   
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
  
    .content {
        height: 100px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;
        background-color: rgba($color: white, $alpha: 0.7);
        position: absolute;
  
        .title {
            font-weight: bold;
            font-size: 22px;
            color: #4a4a4a;
        }
    }
}