.footer-container {
    // border-top: 0.1px solid #1c1d1f;
    // border-bottom: 0.1px solid #1c1d1f;
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #1c1d1f;
    background: #fafafb;

    .footer-link-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width: 820px) {
            grid-template-columns: 1fr;
        }
        
        .footer-description {
            padding: 0 2rem;
    
            h1 {
                text-align: left;
                margin: 0;
            }
        
            @media screen and (max-width: 400px) {
                padding: 1rem;
            }
        }

        .footer-link-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1rem 2rem;

            @media screen and (max-width: 400px) {
                padding: 1rem;
            }

            .footer-link-title {
                font-size: 1rem;
                margin-bottom: 16px;
            }

            .footer-link {
                color: #1c1d1f;
                margin-bottom: 0.5rem;
                font-size: 14px;

                &:hover {
                    color: gray;
                    transition: 0.3s ease-out;
                }
            }
        }
    }
}

.copyright {
    height: 100%;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 1rem;
}