body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

* {
  box-sizing: border-box;
}

.body-container {
  min-height: 100vh;
}

.body-with-margin {
  margin-top: 70px;
}